header {
  padding: 10px 20px;
}

body {
  margin: 0;
  background-color: #f9f9f9;
}

.credential-form {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-color: black;
}

.register-link {
  align-items: center;
}

footer {
  padding: 10px;
  text-align: center;
}

.login-main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
